:root {
  --lightest-blue: rgb(213, 232, 248);
  --light-blue: #bce0fd;
  --dark-blue: #80acd2;
  --darkest-blue: #1f65a1;
}

/*GREEN-BLUE*/
/* .App {
    text-align: center;
}

.App h1 {
    margin: 30px auto 10px auto;
    font-family: 'Comfortaa';
    font-size: 8rem;
    color: rgba(248, 248, 200, 0.534);
    background-image: url('services/hiclipart.com.png');
    background-size: 800px;
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: repeat-x;
    animation: water 15s linear infinite;
}



@keyframes water {
     from {background-position: left 0 top -115px;}
     to {background-position: left 800px top -115px;}
}

p {
    font-family: 'Comfortaa';
    color: rgb(19, 219, 186);
} */

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
   
  overflow: hidden;
}

/* HEADER */
header {
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


.logoname {
  font-family: "Comfortaa";
  font-size: 2.8rem;
  margin: 0;
  text-align: center;
  width: 100%;
  z-index: 2;

  padding: 0;
} 

/*ZARA STYLE*/
.animated {
  margin: 30px auto 10px auto;
  font-family: "Comfortaa";
  font-size: 8rem;
  color: rgba(209, 233, 243, 0.534);
  background-image: url("../hicliparttwo.com.png");
  background-size: 200px;
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: repeat-x;
  animation: water 8s linear infinite;
}

/* ZARA STYLING */
.meters-align {
  text-align: left;
  margin-bottom: 40px;
}

.data-registration {
  display: block;
  width: 100%;
  margin: 3px 1px;
  text-align: left;
  padding: 4px;
  background-color: rgba(0, 140, 255, 0.705);
  border-style: none;
}

.custom-reg {
  background-color: rgba(0, 140, 255, 0.705);
  padding: 4px;
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: inherit;
  color: white;
}
/*END ZARA STYLING */


/*ZARA STYLING SPLASH LOGO*/

@keyframes water {
  from {
    background-position: left 0 top 0;
  }
  to {
    background-position: left 800px top 0;
  }
}
p {
  font-family: "Comfortaa";
  color: rgb(12, 140, 179);
}

.containerChartBar {
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 380px) {
  /*ZARA STYLE */
  .animated {
    margin: 30px auto 10px auto;
    font-family: "Comfortaa";
    font-size: 5rem;
    color: rgba(209, 233, 243, 0.534);
    background-image: url("../hicliparttwo.com.png");
    background-size: 120px;
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: repeat-x;
    animation: water 8s linear infinite;
  }
  .split {
      width: 150px;
      align-items: left;
      padding: 5px;
  }
  .pad {
      margin-right: 10px;
  }
    .meters-align {
        text-align: left;
        align-items: left;
        margin: 2px auto;
    }

    /*END ZARA STYLE */
    .list-group-item {
        height: 50px;
    }
}

  .containerChartBar {
      position: relative;
      height: 60px;
      overflow: hidden;
  }
  .jumbotron {
      height: 100%;
  }


/* TABS */
div .tab-content {
    height: 60vh;
}
 
/* CAROUSEL */
.carousel {
  background-color: lightgray;
  height: 55vh;
  padding: 0;
}

.carousel-indicators li {
  background-color: var(--dark-blue);
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
}

.carousel-control-prev-icon {
  visibility: hidden;
}

.carousel-control-next-icon {
  visibility: hidden;
}

/* COPMONENTS INSIDE CAROUSEL */
div .containerChart {
    margin: auto;
    overflow: hidden;
    height: 10vh;
}


div .tab-content {
    height: 100%;
}

div .tab-content div .jumbotron .jumbotron-fluid {
    height: 100%;
    margin: 0;
}

.tab-content div .jumbotron {
    padding: 1rem;
}

.smile-icon {
    padding: 1rem;
} 






/* NAVBAR */
.navbar {
width: 100vw;
  background-color: var(--darkest-blue);
  padding: 0;
}

.container {
 margin: auto;
}

nav a {
  color: var(--light-blue);
}

.navbar-toggler {
  border: none;
  color: white;
}

.navbar img {
  height: 1.8rem;
  margin-inline-end: 10px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}
.navbar .profile-img {
    height: 2.5rem;
    margin: auto;

}
.navbar-nav {
  flex-flow: column;
  color: white;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}




@media only screen and (max-width: 300px) {
    div .containerChart  {
        margin-left: 1rem;
        width: 100%;
    }

    div .tab-content {
        height: 100vh;
    }
    
    nav .nav .nav-tabs {
        display: block;
        height: 30vh;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    h6 {
        font-size: 0.8rem;
        margin :0;
    }

    .tab-content {
        height: 100vh;
    }

    .smile-icon span svg{
        padding: 3px;
    }

    p {
        font-size: 0.8rem;
        margin-block-end: 0.2rem;
    }

    .carousel-indicators {
        margin-block-end: 0.2rem;
    }

    .tab-content div .jumbotron {
        padding: 0;
    }

    div .containerChart {
        height: 8vh;
    }
}

.carousel-inner {
    height: 100%;
}

div .containerChart {
    overflow: visible;
    height: 300px;
}

@media only screen and (min-width: 768px) {
    .containerChartBar {
        height: 150px;
    }

    .form-row {
      justify-content: center;
    }
  
    .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .navbar a img {
      display: none;
    }

}
 


header {
    min-height: 10vh;
    display: block;
    background-color: var(--darkest-blue);
}

nav .nav .nav-tabs {
    height: 5vh;
}

div .tab-content  {
    min-height: 85vh;
}

@media only screen and (min-width: 1200px){

  a img {
    display: none;
  }

  .navbar-expand-xl {
    flex-flow: column;
    display: flex;
  }

  .navbar-light .navbar-brand {
    margin: auto;
  }

  div .containerChart {
    overflow: hidden;
    width: 85vw;
    min-height: 10vh;
    max-height: 10vh;
}
div .containerChart  {
    position: relative;
    height: 100%;
}


    div.jumbotron .jumbotron-fluid {
        background-color: white;
    }
} 

#uncontrolled-tab-example-tabpane-week {
    height: 100%;
}

#uncontrolled-tab-example-tabpane-week div{
    height: 45%;
    margin-block-end: 1rem;
    
}

#uncontrolled-tab-example-tabpane-today{
    height: 100%;
  
}
  
.list-group-item {
    height: 50px;
}